.courses-container {
	width: 100%;
	display: flex;
	overflow: auto;
	min-height: 100vh;
	align-items: center;
	flex-direction: column;
	background-color: #e6e6e6;
}
.courses-header-container {
	flex: 0 0 auto;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: #e6e6e6;
}
.courses-text {
	color: #000000;
	align-self: center;
}
.courses-sub-header-container {
	width: 100%;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: #092042;
}
.courses-course-section-container {
	width: 158px;
	height: 100%;
	display: flex;
	align-self: flex-start;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.courses-link-to-course {
	color: #ffffff;
	font-weight: 700;
	text-decoration: none;
}
.courses-room-section-container {
	width: 158px;
	height: 100%;
	display: flex;
	align-self: flex-start;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.courses-link-to-room {
	color: #ffffff;
	font-weight: 700;
	text-decoration: none;
}
.courses-search-form-container {
	flex: 0 0 auto;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.courses-search-content-container {
	width: 80%;
	border: 2px dashed rgba(120, 120, 120, 0.4);
	height: 230px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
}
.courses-search-bar-button-container {
	width: 75%;
	height: 60px;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: flex-start;
}
.courses-search-button-container {
	width: 155px;
	height: 60px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.courses-search-button {
	color: #FFFFFF;
	font-style: normal;
	font-weight: 700;
	text-decoration: none;
	background-color: #092042;
}
.courses-clear-button-container {
	width: 155px;
	height: 60px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.courses-clear-button {
	text-decoration: none;
}
.courses-result-container {
	width: 100%;
	border: 2px dashed rgba(120, 120, 120, 0.4);
	height: 50px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: #e6e6e6;
}
.courses-footer-container {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: #e6e6e6;
}
